/*
 #2196f3; синий
 #000000 черный
 #212121 шапка
 #757575 номер тел
 #2F303A main
 #F5F4FA наша команда
 background: #FFFFFF99; емеил и номер внизу

 */

body {
  background-color: #fff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.main-web {
  font-family: Raleway, sans-serif;
  color: #2196f3;
  text-decoration: none;
}
.studio {
  font-family: Raleway, sans-serif;
  color: #000000;
  text-decoration: none;
}
.studio-fon {
  color: #ffffff;
}
[href] {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #2196f3;
}

.link-info {
  color: #757575;
}
.link-info:hover,
.link-info:focus {
  color: #2196f3;
}
.service {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.service:hover,
.service:focus {
  color: #ffffff;
  background-color: #188ce8;
}
.ours-works {
  cursor: pointer;
}
.ours-works:hover,
.ours-works:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.main-fon {
  background-color: #2f303a;
}
.main-text {
  color: #ffffff;
}
.plain-text {
  color: #757575;
}
.link-footer {
  color: #ffffff99;
}
.link-footer-text {
  color: #ffffff;
}
.link-footer-text:hover,
.link-footer-text:focus {
  color: #2196f3;
}
.ours-teams {
  background-color: #f5f4fa;
}
.link-footer:hover,
.link-footer:focus {
  color: #2196f3;
}
