:root {
}
body {
  background-color: #fff;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main-web {
  font-family: Raleway, sans-serif;
  color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.studio {
  font-family: Raleway, sans-serif;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.studio-fon {
  color: #ffffff;
}
[href] {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #2196f3;
}

.link-info {
  color: #757575;
}
.link-info:hover,
.link-info:focus {
  color: #2196f3;
}
.service {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
}
.service:hover,
.service:focus {
  color: #ffffff;
  background-color: #188ce8;
}
.ours-works {
  cursor: pointer;
}
.ours-works:hover,
.ours-works:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.main-fon {
  background-color: #2f303a;
}
.main-text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.nav-item,
.link-info {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.plain {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ours-homework,
.dream-teams {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17x;
  text-align: center;
  letter-spacing: 0.03em;
}
.teams-spell {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.plain-text {
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8x;
  letter-spacing: 0.03em;
}
.link-footer {
  color: #ffffff99;
}
.link-footer-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: #ffffff;
}
.link-footer-text:hover,
.link-footer-text:focus {
  color: #2196f3;
}
.ours-teams {
  background-color: #f5f4fa;
}
.link-footer:hover,
.link-footer:focus {
  color: #2196f3;
}
.foundation-list {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.im-li-foun {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
